@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}

p.indent{
	text-indent: 5em;
}

p .indent{
	text-indent: 10em;
}

p.signature{
	text-indent: 15em;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}